h1 {
  /* font-size: 2em; <- h1 기본 폰트사이즈 */
  color : darkgoldenrod;
  /* 디폴트 (16px) 의 50% -> 8px 적용 */
  font-size : 50%;
}
section {
  font-size: 50%;
}
section > h2 {
  color: skyblue;
  
  font-size: 5em;

}

ul {
  /* 상속에 영향이 없음....디폴트 사이즈에 영향을 받음.....   */
  font-size: 2rem;
}

#box {
  width: 50vw;
  height: 10px;
  background-color: purple;
}